.root {
    -fx-background-color: rgba(236, 240, 241, 1);
}

.large {
    -fx-min-height: 46px;
    -fx-max-height: 46px;
    -fx-font-size: 18px;
}

.medium {
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-font-size: 14px;
}

.small {
    -fx-min-height: 22px;
    -fx-max-height: 22px;
    -fx-font-size: 10px;
}

.wrapper-light {
    -fx-background-color: rgba(236, 240, 241, 1);
}

.wrapper-dark {
    -fx-background-color: rgba(189, 195, 199, 1);
}

.fontawesome-light {
    -fx-fill: rgba(236, 240, 241, 1);
}

.fontawesome-dark {
    -fx-fill: rgba(52, 73, 94, 1);
}

.label {
    -fx-text-fill: rgba(52, 73, 94, 1);
    -fx-font-family: "Roboto Mono";
}

.button {
    -fx-text-fill: rgba(52, 73, 94, 1);
    -fx-font-family: "Roboto Mono";
    -fx-background-radius: 0px 0px 0px 0px;
    -fx-background-color: rgba(127, 140, 141, 1);
}
.button:hover {
    -fx-background-color: rgba(149, 165, 166, 1);
}
.button.red {
    -fx-background-color: rgba(192, 57, 43, 1);
}
.button.red:hover {
    -fx-background-color: rgba(231, 76, 60, 1);
}
.button.green {
    -fx-background-color: rgba(39, 174, 96, 1);
}
.button.green:hover {
    -fx-background-color: rgba(46, 204, 113, 1);
}
.button.yellow {
    -fx-background-color: rgba(243, 156, 18, 1);
}
.button.yellow:hover {
    -fx-background-color: rgba(241, 196, 15, 1);
}
.button.blue {
    -fx-background-color: rgba(41, 128, 185, 1);
}
.button.blue:hover {
    -fx-background-color: rgba(52, 152, 219, 1);
}
.button.purple {
    -fx-background-color: rgba(142, 68, 173, 1);
}
.button.purple:hover {
    -fx-background-color: rgba(155, 89, 182, 1);
}
.button.aqua {
    -fx-background-color: rgba(22, 160, 133, 1);
}
.button.aqua:hover {
    -fx-background-color: rgba(26, 188, 156, 1);
}
.button.orange {
    -fx-background-color: rgba(211, 84, 0, 1);
}
.button.orange:hover {
    -fx-background-color: rgba(230, 126, 34, 1);
}

.progress-bar .track {
    -fx-pref-height: 10px;
    -fx-background-radius: 0px 0px 0px 0px;
    -fx-background-color: rgba(189, 195, 199, 1);
}
.progress-bar .bar {
    -fx-background-insets: 0px 0px 0px 0px;
    -fx-background-radius: 0px 0px 0px 0px;
    -fx-background-color: rgba(127, 140, 141, 1);
}
.progress-bar.red .bar {
    -fx-background-color: rgba(192, 57, 43, 1);
}
.progress-bar.green .bar {
    -fx-background-color: rgba(39, 174, 96, 1);
}
.progress-bar.yellow .bar {
    -fx-background-color: rgba(243, 156, 18, 1);
}
.progress-bar.blue .bar {
    -fx-background-color: rgba(41, 128, 185, 1);
}
.progress-bar.purple .bar {
    -fx-background-color: rgba(142, 68, 173, 1);
}
.progress-bar.aqua .bar {
    -fx-background-color: rgba(22, 160, 133, 1);
}
.progress-bar.orange .bar {
    -fx-background-color: rgba(211, 84, 0, 1);
}

.text-field {
    -fx-pref-height: 30px;
    -fx-background-color: rgba(52, 73, 94, 1);
}

.text-field, .text-area {
    -fx-border-color: rgba(44, 62, 80, 1) rgba(44, 62, 80, 1) rgba(44, 62, 80, 1) rgba(44, 62, 80, 1);
    -fx-text-fill: rgba(236, 240, 241, 1);
    -fx-prompt-text-fill: rgba(189, 195, 199, 1);
    -fx-font-family: "Roboto Mono";
    -fx-highlight-fill: rgba(189, 195, 199, 1);
    -fx-highlight-text-fill: rgba(52, 73, 94, 1);
}
.text-field :focused, .text-area :focused {
    -fx-border-color: rgba(52, 73, 94, 1) rgba(52, 73, 94, 1) rgba(52, 73, 94, 1) rgba(52, 73, 94, 1);
}

.titled-pane {
    -fx-font-family: "Roboto Mono";
    -fx-text-fill: rgba(52, 73, 94, 1);
}
.titled-pane .title {
    -fx-background-color: rgba(127, 140, 141, 1);
    -fx-background-radius: 0px 0px 0px 0px;
    -fx-padding: 11px 11px 11px 11px;
}
.titled-pane .content {
    -fx-background-color: rgba(189, 195, 199, 1);
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: rgba(127, 140, 141, 1) rgba(127, 140, 141, 1) rgba(127, 140, 141, 1) rgba(127, 140, 141, 1);
}
.titled-pane.red .title {
    -fx-background-color: rgba(192, 57, 43, 1);
}
.titled-pane.red .content {
    -fx-border-color: rgba(192, 57, 43, 1) rgba(192, 57, 43, 1) rgba(192, 57, 43, 1) rgba(192, 57, 43, 1);
}
.titled-pane.green .title {
    -fx-background-color: rgba(39, 174, 96, 1);
}
.titled-pane.green .content {
    -fx-border-color: rgba(39, 174, 96, 1) rgba(39, 174, 96, 1) rgba(39, 174, 96, 1) rgba(39, 174, 96, 1);
}
.titled-pane.yellow .title {
    -fx-background-color: rgba(243, 156, 18, 1);
}
.titled-pane.yellow .content {
    -fx-border-color: rgba(243, 156, 18, 1) rgba(243, 156, 18, 1) rgba(243, 156, 18, 1) rgba(243, 156, 18, 1);
}
.titled-pane.blue .title {
    -fx-background-color: rgba(41, 128, 185, 1);
}
.titled-pane.blue .content {
    -fx-border-color: rgba(41, 128, 185, 1) rgba(41, 128, 185, 1) rgba(41, 128, 185, 1) rgba(41, 128, 185, 1);
}
.titled-pane.purple .title {
    -fx-background-color: rgba(142, 68, 173, 1);
}
.titled-pane.purple .content {
    -fx-border-color: rgba(142, 68, 173, 1) rgba(142, 68, 173, 1) rgba(142, 68, 173, 1) rgba(142, 68, 173, 1);
}
.titled-pane.aqua .title {
    -fx-background-color: rgba(22, 160, 133, 1);
}
.titled-pane.aqua .content {
    -fx-border-color: rgba(22, 160, 133, 1) rgba(22, 160, 133, 1) rgba(22, 160, 133, 1) rgba(22, 160, 133, 1);
}
.titled-pane.orange .title {
    -fx-background-color: rgba(211, 84, 0, 1);
}
.titled-pane.orange .content {
    -fx-border-color: rgba(211, 84, 0, 1) rgba(211, 84, 0, 1) rgba(211, 84, 0, 1) rgba(211, 84, 0, 1);
}

.check-box {
    -fx-text-fill: rgba(52, 73, 94, 1);
    -fx-label-padding: 0px 0px 0px 5px;
}
.check-box .box {
    -fx-background-color: rgba(52, 73, 94, 1);
    -fx-background-radius: 0px 0px 0px 0px;
    -fx-border-color: rgba(44, 62, 80, 1) rgba(44, 62, 80, 1) rgba(44, 62, 80, 1) rgba(44, 62, 80, 1);
    -fx-border-width: 1px 1px 1px 1px;
}
.check-box .box .mark {
    -fx-shape: "M927.936 272.992l-68.288-68.288c-12.608-12.576-32.96-12.576-45.536 0l-409.44 409.44-194.752-196.16c-12.576-12.576-32.928-12.576-45.536 0l-68.288 68.288c-12.576 12.608-12.576 32.96 0 45.536l285.568 287.488c12.576 12.576 32.96 12.576 45.536 0l500.736-500.768c12.576-12.544 12.576-32.96 0-45.536z";
}

